.about {
  // max-height: calc(100vh - 125px);
  /* width: calc(100vw - 125px); */
  width: 100%;
}

.about__text {
  /* width: 400px; */
  width: 50%;
  /* max-width: 500px; */
  overflow-wrap: break-word;
  overflow: wrap;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* color: aqua; */
  flex-wrap: wrap;
  /* z-index: 1; */
}

.about__textItem {
  width: 100%;
  overflow-wrap: break-word;
  max-width: 50vw;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.about__textItem {
  padding: none;
}

.about__image {
  display: flex;
  flex: 1;
  width: auto;
  // min-width: 400px;
  justify-content: flex-end;
  align-items: center;
  height: 800px;
  margin: 0 2em 2em 2em;
  // animation: slideUpSlow 1200ms ease-in-out;
  // background-image: radial-gradient(farthest side at 40px 40px, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 0%, var(--secondary-colour) 40%), url('/static/APicOfMe.jpg');
  background-size: cover;
  // filter: grayscale(99%);
}

.about__image img {
  // min-width: 300px;
  height: 100%;
  // width: 100%;
  /* height: 60vh; */
  // width: 30vw;
  object-fit: cover;
  border-radius: 30px;
  filter: grayscale(99%);
  // background-image: radial-gradient(0% transparent, 100% #303030);
  position: relative;
}

.about__image img::before {
  content: 'k';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: radial-gradient(transparent 0%, #303030 100%);
  z-index: 100;

}

.about__image img:hover {
  filter: grayscale(10%);
  transition: ease-in-out all 1500ms;
}

@media screen and (max-width: 1200px) {

  .about__image {
    display: flex;
    flex: 1;
    width: 50%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 0 2em 0;

    & img {
      width: 100%;
      border-radius: 5px;
      // max-width: 350px;
    }
  }

  .about__textItem {
    width: 100%;
    overflow-wrap: break-word;
    max-width: 100%;
    list-style: none;
    padding-bottom: 40px;
  }

  .paddingTop10vh {
    padding-top: 10px;
  }

  .about {
    justify-content: center;
    align-items: center;
  }
  
}