.about {
  max-height: calc(100vh - 125px);
  /* width: calc(100vw - 125px); */
  width: 100%;
}

.about__text {
  /* width: 400px; */
  width: 50%;
  /* max-width: 500px; */
  overflow-wrap: break-word;
  overflow: wrap;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* color: aqua; */
  flex-wrap: wrap;
  /* z-index: 1; */
}

.about__textItem {
  width: 100%;
  overflow-wrap: break-word;
  max-width: 50vw;
  list-style: none;
}


.about__text p {
  /* width: 400px; */
  /* overflow-wrap: break-word;
  max-width: 500px; */

}

.about__image {
  display: flex;
  flex: 1;
  width: 50%;
  min-width: 400px;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}

.about__image img {
  min-width: 300px;
  /* height: 60vh; */
  width: 30vw;
  object-fit: cover;
  border-radius: 1vw;
  filter: grayscale(99%);
}

.about__image img:hover {
  filter: grayscale(10%);
  transition: ease-in-out all 1500ms;
}