.about {
  /* width: calc(100vw - 125px); */
  width: 100%;
}

.about__text {
  /* width: 400px; */
  min-width: 350px;
  width: 50%;
  /* max-width: 500px; */
  overflow-wrap: break-word;
  overflow: wrap;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* color: aqua; */
  flex-wrap: wrap;
  /* z-index: 1; */
}

.about__textItem {
  width: 100%;
  overflow-wrap: break-word;
  max-width: 50vw;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.about__textItem {
  padding: none;
}

.about__image {
  display: flex;
  flex: 1;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  margin: 0 2em 2em 2em;
  background-size: cover;
}

.about__image img {
  height: 100%;
  /* height: 60vh; */
  object-fit: cover;
  border-radius: 1rem;
  filter: grayscale(99%);
  position: relative;
}

.about__image img::before {
  content: "k";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: radial-gradient(transparent 0%, #303030 100%);
  z-index: 100;
}

.about__image img:hover {
  filter: grayscale(10%);
  transition: ease-in-out all 1500ms;
}

.about__skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2vw;
  margin-top: 15vh;
}
.about__skillsList {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about__skillItem {
  display: flex;
  padding: 1.1rem 7.2rem;
  border: 2px solid var(--primary-colour);
  border-radius: 100px;
  color: var(--primary-colour);
  margin: 1rem 1rem 1rem 0rem;
}
.about__skillsFilterContainer {
  position: relative;
  height: auto;
}
.about__skillsFilter {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 0;
}
.about__skillsTab {
  border-radius: 0.75rem 0.75rem 0px 0px;
  border: none;
  border: 2px solid var(--primary-colour);
  border-bottom: none;
  padding: 1.1rem 7.2rem;
  margin-left: 0.5rem;
  color: var(--primary-colour);
  opacity: 1;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.about__skillsTab::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: auto;
  border-radius: 0.75rem 0.75rem 0px 0px;
  opacity: 0.7;
}
.about__skillsTab:first-of-type {
  margin-left: 0;
}
.about__skillsTabButton {
  all: unset;
}
.about__skillsTab:hover {
  background: var(--primary-colour);
  color: var(--secondary-colour);
  opacity: 1;
}
.about__skillsTab.active {
  opacity: 1;
  border-radius: 0.75rem 0.75rem 0px 0px;
  border: 2px solid var(--primary-colour);
}
.about__skillsTab.active::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  opacity: 1;
  z-index: 10;
  background: var(--secondary-colour);
}
.about__skillsTab.active:hover {
  color: var(--primary-colour);
  background: var(--secondary-colour);
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .about__image {
    display: flex;
    flex: 1;
    width: 50%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 0 2em 0;
  }
  .about__image img {
    width: 100%;
    border-radius: 5px;
  }

  .about__textItem {
    width: 100%;
    overflow-wrap: break-word;
    max-width: 100%;
    list-style: none;
    padding-bottom: 40px;
  }

  .paddingTop10vh {
    padding-top: 10px;
  }

  .about {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 786px) {
  .about__skillsFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .about__skillsTab {
    border-radius: 0.75rem 0.75rem 0px 0px;
    border: none;
    border: 2px solid var(--primary-colour);
    border-bottom: none;
    padding: 1.1rem 3rem;
    margin-left: 0.5rem;
    color: var(--primary-colour);
    opacity: 1;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__skillItem {
    display: flex;
    padding: 1.1rem 3rem;
    border: 2px solid var(--primary-colour);
    border-radius: 100px;
    color: var(--primary-colour);
    margin: 1rem 1rem 1rem 0rem;
  }
}
