.contact___contactOptionBox--light {
  all: unset;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center;
  align-items: center; */
  align-items: center;
  flex: 1;
  flex-grow: 1;
  height: 5em;
  font-family: Basier;
  font-size: 4.8rem;
  transition: all ease-in-out 500ms;
  border: 2px var(--primary-colour) solid !important;
  color: var(--primary-colour) !important;
  cursor: pointer;
  min-width: 200px;

}

.contact___contactOptionBox--light:last-of-type, .contact___contactOptionBox--light:nth-of-type(2) {
  margin-left: 20px;
}

.contact___contactOptionBox--light:hover {
  background-color: var(--primary-colour);
  color: var(--primary-colour) !important;
  /* color: var(--primary-colour); */
  -webkit-text-fill-color: var(--secondary-colour);
  flex: 3;
  align-items: flex-start;
  justify-content: space-between;
  transition: all ease-in-out 500ms;
}

.on-hover--light {
  display: none;
  opacity: 1;
  color: var(--primary-colour);
}

/* .on-hover--light:hover {
  display: flex;
  color: var(--secondary-colour) !important;
} */

.contact___contactOptionBox--light:hover .on-hover--light {
  display: flex;
  color: var(--secondary-colour) !important;
  opacity: 1;
  transition: all ease-in-out 500ms;
}

.contact___contactOptionBox--light:hover .contact__method {
  font-size: 2.4rem;
  transition: ease-in-out 500ms;
}

.contact__CTA {
  margin-right: auto;
}

.contact___contactOptionBox--light svg {
  margin-left: auto;
  fill: var(--secondary-colour);
}