/* Fonts */
@font-face {
  font-family: Basier;
  src: url(/fonts/basiercircle-regular-webfont.woff);
}

@font-face {
  font-family: BasierMedium;
  src: url(/fonts/basiercircle-medium-webfont.woff2);
}

@font-face {
  font-family: BasierSemiBold;
  src: url(/fonts/basiercircle-semibold-webfont.woff2);
}

@font-face {
  font-family: BasierBold;
  src: url(/fonts/basiercircle-bold-webfont.woff);
}

/* HTML */
html {
  --primary-colour: #303030;
  --secondary-colour: #F9F9F9;
  --side-bar-width: calc(40px + 5vw);
  --maximum-menu-size: 150px;
  scroll-behavior: smooth;
}

* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background: var(--secondary-colour);
}

h1 {
  font-family: Basier, Arial, Helvetica, sans-serif;
  /* font-size: 7.2rem; */
  font-size: calc(2.8rem + 3vw);
}

h2 {
  font-family: Basier, Arial, Helvetica, sans-serif;
  /* font-size: 4.8rem; */
  font-size: calc(1.6rem + 2.3vw);
}

h3 {
  font-family: BasierBold;
  font-size: 14.4rem;
}

h4 {
  font-family: Basier, Arial, Helvetica, sans-serif;
  /* font-size: 3.6rem; */
  font-size: calc(1.8rem + 1.2vw);
  font-weight: 100;
}

h5 {
  font-family: Basier, Arial, Helvetica, sans-serif;
  /* font-size: 1.8rem; */
  font-size: calc(1rem + 0.5vw);
  font-weight: 100;
}

h6 {
  all: unset;
  font-family: Basier, Arial, Helvetica, sans-serif;
  /* font-size: 1.4rem; */
  font-size: calc(1.4rem);
}

p {
  font-family: Basier, Arial, Helvetica, sans-serif;
  /* font-size: 2.4rem; */
  font-size: calc(1.6rem + 0.8vw);
}

/* Hero Section */
.fullWidthContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  overflow: hidden;
}

/* Menu */
.menu {
  /* display: none; */
  position: absolute;
  top: 0px;
  left: -3000px;
  height: calc(100vh);
  width: calc(100vw - var(--side-bar-width));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-right: 1px solid var(--primary-colour);
  z-index: 1;
  background-color: var(--secondary-colour);
}

.menu--in {
  /* display: none; */
  position: absolute;
  top: 0px !important;
  left: var(--side-bar-width);
  height: calc(100vh);
  width: calc(100vw - var(--side-bar-width));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.mobileMenu--in {
  position: absolute;
  top: var(--side-bar-width) !important;
  height: calc(100vh - var(--side-bar-width));
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.menu--out {
  left: -3000px;
}

.menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--side-bar-width);
  border-bottom: 1px var(--primary-colour) solid;
  /* width: auto; */
  padding: 0 2vw;
  color: var(--primary-colour);
}

.menu__link {
  border-bottom: 1px solid var(--primary-colour);
  background-color: var(--secondary-colour);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: BasierBold;
}

.menu__link:last-of-type {
  border-bottom: 1px solid var(--secondary-colour);
}

.menu__linksContainer {
  left: var(--side-bar-width);
  height: calc(100vh - var(--side-bar-width));
  width: calc(100vw - var(--side-bar-width));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-right: 1px solid var(--primary-colour);
}

.menu__linkContainer {
  padding-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: var(--primary-colour);
}

.menu__linkHeader {
  padding-left: 2vw;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--primary-colour);
  -webkit-text-stroke: solid;
  color: transparent;
}

.menu__linkHeader--active {
  padding-left: 2vw;
  -webkit-text-fill-color: var(--primary-colour) !important;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
  -webkit-text-stroke: solid;
  /* opacity: 0.9; */
}

.menu__linkHeader:hover {
  color: var(--primary-colour);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke: solid;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.sideBar {
  height: 100vh;
  width: var(--side-bar-width);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: var(--side-bar-width);
      flex-basis: var(--side-bar-width);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px var(--primary-colour) solid;
  background-color: var(--secondary-colour);
  z-index: 10;
  /* padding: 2rem; */
}

.sideBar__logo {
  border-bottom: 1px var(--primary-colour) solid;
  /* width: 100%; */
  /* padding: 4rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* justify-content: -webkit-; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: var(--side-bar-width);
}

.sideBar__logo a svg {
  width: calc(30px + 1vw);
  height: calc(30px + 1vw);
  overflow: visible;
}

.sideBar__menuToggle {
  height: calc(2 * calc(100vh - var(--side-bar-width))/3);
  border-bottom: 1px var(--primary-colour) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  /* z-index: 11; */
}

/* input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
} */
#sideBar__menuCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(2 * calc(100vh - var(--side-bar-width))/3);
  width: 100%;
  visibility: hidden;
  /* cursor: pointer; */
}

#sideBar__menuCheckboxLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(2 * calc(100vh - var(--side-bar-width))/3);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  /* visibility: hidden; */
}

.closeDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sideBar__menuToggleComponent__dark {
  fill: var(--primary-colour);
}

/* .sideBar__menuToggle:active {
  background-color: var(--primary-colour);
} */
/* .sideBar__menuToggle:active svg rect {
  fill: var(--secondary-colour);
} */
.sideBar__menuToggle:hover svg {
  /* transform: rotate(-45deg); */
  fill: var(--secondary-colour);
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.sideBar__menuToggle:hover {
  /* transform: rotate(-45deg); */
  background: var(--primary-colour);
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.sideBar__menuToggle:not(:hover) {
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.sideBar__menuToggle:hover .sideBar__menuToggleComponent {
  fill: var(--secondary-colour);
}

.makeX {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.switchBackground {
  background: var(--primary-colour);
  /* transition: all 1000ms ease-in-out; */
}

.changeFilltoSecondary {
  fill: var(--secondary-colour) !important;
  /* color: var(--secondary-colour); */
  /* stroke: var(--secondary-colour); */
}

.changeFilltoSecondary2 {
  background: var(--secondary-colour) !important;
  /* color: var(--secondary-colour); */
  /* stroke: var(--secondary-colour); */
}

/* .noMoveOnHover:hover {
  all: unset;
  border-bottom: 1px var(--primary-colour) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--primary-colour);
  transform: rotate(0deg) !important;
} */
.sideBar__contact {
  all: unset;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 2.4rem;
  font-family: Basier;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: auto;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-colour);
  -webkit-text-fill-color: var(--primary-colour);
  /* text-orientation: sideways-right; */
}

.sideBar__contact:hover {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  -webkit-text-fill-color: var(--secondary-colour);
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.sideBar__contact:not(:hover) {
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.mainColumn {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: auto;
  height: 100vh;
  /* animation: slideUpSlow 800ms ease-in-out forwards; */
  /* padding: 2vw; */
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--side-bar-width);
  border-bottom: 1px var(--primary-colour) solid;
  /* width: auto; */
  padding: 0 2vw;
  color: var(--primary-colour);
  background: var(--secondary-colour);
}

.header__invertColour {
  cursor: pointer;
  width: calc(25px + 1vw);
  height: calc(25px + 1vw);
}

.heroContent {
  padding: 0 2vw;
  color: var(--primary-colour);
}

.heroContent h1 {
  max-width: 23ch;
  overflow-wrap: break-word;
  padding-bottom: 0.3em;
  color: var(--primary-colour);
}

.heroContent p {
  max-width: 60ch;
}

.sectionHeader {
  color: var(--secondary-colour);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionHeader__divider {
  width: auto;
  height: 1px;
  background-color: var(--secondary-colour);
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  margin-right: 2vw;
}

/* Buttons and Icons */
.plusIcon {
  height: 2px;
  width: 30px;
  background: var(--primary-colour);
  position: relative;
}

.plusIcon:after {
  content: '';
  position: absolute;
  left: 14px;
  top: -14px;
  -webkit-transform: rotate(45);
          transform: rotate(45);
  height: 30px;
  width: 2px;
  background: var(--primary-colour);
}

/* Utility classes */
.light:hover {
  color: var(--secondary-colour) !important;
}

.secondaryColourDivider {
  height: 1px;
  width: auto;
  /* padding: 10vh 2vw; */
  background-color: var(--secondary-colour);
}

.Padding2vw {
  padding: 0 2vw;
}

.marginBottom10vh {
  margin-bottom: 10vh;
}

.paddingTop15vh {
  padding-top: 15vh;
}

.paddingTop10vh {
  padding-top: 10vh;
}

.on-hover {
  display: none;
  opacity: 0;
  color: var(--primary-colour);
}

@-webkit-keyframes slideUpSlow {
  0% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpSlow {
  0% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.twoColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  /* align-items: center; */
}

/* .on-hover:hover {
  display: block;
  color: var(--primary-colour);
} */
.contact__contactOptionBox:hover .on-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.contact__contactOptionBox:hover .contact__method {
  font-size: 2.4rem;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.contact__contactOptionBox:not(:hover) .contact__method {
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.contact__CTA {
  margin-right: auto;
}

.bold {
  font-size: 1.8rem;
  font-family: BasierBold;
  color: var(--primary-colour);
}

.italic {
  font-style: italic;
}

.lightText {
  font-weight: 200;
}

.bold {
  font-weight: 800;
}

.opacityHalf {
  opacity: 0.6;
}

.secondary-colour {
  color: var(--secondary-colour);
}

.backgroundContainer {
  background-color: var(--primary-colour);
  height: auto;
  width: 100%;
}

.footer {
  padding: 4vh 2vw;
}

.footer__info {
  padding-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: Basier;
  color: var(--secondary-colour);
}

.footer__backToTopBtn {
  all: unset;
  color: var(--secondary-colour);
}

.contact--light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  color: var(--secondary-colour);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  color: var(--secondary-colour);
}

.contact__method--light {
  color: var(--secondary-colour) !important;
}

.contact__description {
  color: var(--secondary-colour);
  padding-bottom: 5vh;
}

.contact__description--light {
  color: var(--primary-colour);
  padding-bottom: 5vh;
}

.contact__contactOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__contactOptionBox:last-of-type, .contact__contactOptionBox:nth-of-type(2) {
  margin: 0 0 0 20px;
}

.contact__contactOptionBox--light:last-of-type, .contact__contactOptionBox--light:nth-of-type(2) {
  margin: 0 0 0 20px;
}

.contact__contactOptionBox {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* justify-content: center;
    align-items: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-colour);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  height: 5em;
  min-width: 150px;
  font-family: Basier;
  font-size: 4.8rem;
  border: 2px var(--secondary-colour) solid;
  cursor: pointer;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.contact__contactOptionBox svg {
  margin-left: auto;
}

.contact__contactOptionBox:hover {
  background-color: var(--secondary-colour);
  /* color: var(--primary-colour); */
  -webkit-text-fill-color: var(--primary-colour);
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.contact__contactOptionBox--light:hover {
  border: 2px var(--primary-colour) solid !important;
  color: var(--secondary-colour) !important;
  background-color: var(--primary-colour) !important;
}

.conact__contactOptionBox:hover + .on-hover {
  display: block;
}

.contact__contactOptionBox:not(:hover) {
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  /* animation: colourAndSizeEaseInOut 500ms ease-in-out linear; */
}

/* @keyframes colourAndSizeEaseInOut {
  100% {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    flex: 3;
  }
} */
.caseStudy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.caseStudy__infoItem:last-of-type {
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caseStudy__subInfoList {
  padding: 0;
  list-style: none;
}

.caseStudy__linkSVG {
  width: calc(2rem + 3vmin);
}

.caseStudyThumbnail {
  height: 70vh;
  min-height: 250px;
  width: 100%;
  border-radius: 0.5vw 0.5vw 0 0;
  background-color: var(--primary-colour);
}

.caseStudy__ThumbnailImage {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center no-repeat;
     object-position: center center no-repeat;
  overflow: hidden;
  height: inherit;
  width: inherit;
  border-radius: 0.5vw 0.5vw 0 0;
}

.caseStudy__infoRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* border-bottom: 1px var(--primary-colour) solid; */
  border-radius: 0 0 0.5vw 0.5vw;
  width: 100%;
  padding-top: 5vh;
  position: relative;
}

.caseStudy__infoRow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: inherit;
  border-radius: 0 0 0.5vw 0.5vw;
  border-left: 1px var(--primary-colour) solid;
  border-right: 1px var(--primary-colour) solid;
  border-bottom: 1px var(--primary-colour) solid;
}

.caseStudy__infoItems {
  all: unset;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.caseStudy__infoItem {
  color: var(--primary-colour);
  -webkit-text-fill-color: var(--primary-colour);
  position: relative;
  padding: 1vh 0;
}

.caseStudy__infoItem::before {
  content: "";
  position: absolute;
  left: -4px;
  height: 15px;
  width: 1px;
  bottom: 0;
  background-color: var(--primary-colour);
}

.caseStudy__infoItem:first-of-type::before {
  display: none;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.testimonials__authorDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__authorTrack {
  overflow: hidden;
  position: relative;
  min-height: 70px;
  min-width: 200px;
}

.testimonials__authorsList {
  height: 100%;
}

.testimonials__testimonialIndividial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__switcher svg {
  cursor: pointer;
  position: relative;
  /* padding: 2em; */
}

.testimonials__arrowSVG {
  fill: var(--secondary-colour);
}

/* .testimonials__arrow:hover {
  fill: var(--primary-colour);
} */
.testimonials__arrow {
  all: unset;
  cursor: pointer;
  height: 5em;
  width: 5em;
  background-color: var(--primary-colour);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__arrow:hover {
  background-color: var(--secondary-colour);
  -webkit-transition: all ease-in-out 1000ms;
  transition: all ease-in-out 1000ms;
}

.testimonials__arrow:not(:hover) {
  -webkit-transition: all ease-in-out 1000ms;
  transition: all ease-in-out 1000ms;
}

.testimonials__arrow:hover .testimonials__arrowSVG {
  fill: var(--primary-colour);
}

/* .testimonials__switcher svg::after:hover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 4em;
  background-color: var(--secondary-colour);

} */
.testimonials__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.testimonials__authorImage {
  width: 5em;
  height: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2em;
  border-radius: 3em;
}

.testimonials__testimonialsList {
  list-style: none;
}

.testimonials__authorsList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-colour);
  padding: 0 10vw;
  width: 100%;
}

.testimonials__text {
  color: var(--secondary-colour);
  padding-top: 5vh;
  text-align: center;
  max-width: 50ch;
}

.testimonials__testimonialsTrack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 200px;
}

.testimonials__progressIndicators {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 7vh;
}

.testimonials__progressIndicator {
  width: 17px;
  height: 3px;
  opacity: 0.6;
  background-color: var(--secondary-colour);
  margin-right: 2em;
}

/* .caseStudy__infoItem::before {
  all: unset;
  list-style: none;
  content: "";
  display: block;
  height: 7px;
  border-right: 1px solid;
  position: absolute;
  bottom: 0;
  transform-origin: top center;
  transition: transform .26s ease;
  font-size: 1.8rem;
  color: var(--primary-colour);
} */
@media screen and (min-width: 768px) {
  .largeScreenDisplayNone {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  h3 {
    font-size: calc(3.5rem + 6vmin);
  }
  .contact__contactOptions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__contactOptionBox:last-of-type, .contact__contactOptionBox:nth-of-type(2) {
    margin: 20px 0 0 0;
  }
  .contact___contactOptionBox--light:last-of-type, .contact___contactOptionBox--light:nth-of-type(2) {
    margin: 20px 0 0 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .mobileOff {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sideBar {
    border-right: none;
    display: none;
  }
  .sideBar__menuToggle, .sideBar__contact {
    display: none;
  }
  .sideBar__logo {
    border-right: 1px var(--primary-colour) solid;
  }
  .mainColumn {
    width: 100vw;
  }
  .mainColumn__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 100%; */
    /* padding: 4rem; */
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    /* justify-content: -webkit-; */
    align-items: center;
    min-height: var(--side-bar-width);
    width: var(--side-bar-width);
    border-right: 1px var(--primary-colour) solid;
  }
  .mainColumn__logo a svg {
    width: calc(30px + 1vw);
    height: calc(30px + 1vw);
    overflow: visible;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    padding: 0;
  }
  .header__invertColourContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: var(--side-bar-width);
    width: var(--side-bar-width);
    border-left: 1px var(--primary-colour) solid;
  }
  .header__invertColour {
    width: 30px;
    height: 30px;
    overflow: visible;
    margin: 1rem;
  }
  .menu {
    position: absolute;
    top: -4000px;
    left: 0px;
    width: 100vw;
    z-index: 30;
  }
  .menu__linksContainer {
    left: var(--side-bar-width);
    height: calc(100vh-var(--side-bar-width));
    width: 100vw;
    border-right: none;
  }
  .mainColumn__menuToggle {
    height: 100%;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: relative;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    /* z-index: 11; */
  }
  .mainColumn__menuToggleComponent {
    fill: var(--primary-colour);
  }
  /* input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  } */
  #mainColumn__menuCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    /* cursor: pointer; */
  }
  #mainColumn__menuCheckboxLabel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    /* visibility: hidden; */
  }
  .contact__contactOptionBox {
    max-height: 150px;
  }
  .contact___contactOptionBox--light {
    height: 1em;
  }
  .caseStudyThumbnail {
    height: 40vh;
    border-radius: 10px 10px 0 0;
  }
  .caseStudy__ThumbnailImage {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .caseStudy__infoRow:after {
    border-radius: 0 0 8px 8px;
  }
}
/*# sourceMappingURL=main.css.map */